<div class="detailed_product_container">

    <img src={{image}} alt="">

    <div class="product_info">
        <h2>{{title}}</h2>
        <h5>{{description}}</h5>
        <h5>Price: ${{price}}</h5>
        <button class="addToCartBtn" data-id={{_id}}>Add to cart</button>
    </div>
</div>

<script src="/js/product.js"></script>